# Numbers

In [ ]:
11 + 2

In [ ]:
11 - 2

In [ ]:
11 * 2

In [133]:
11 / 2

5.5

In [134]:
11 % 2

1

In [135]:
11 // 2

5

In [136]:
11 ** 2

121

# List
- Group same type of values
- [1,2,3] - comma separted values in square brackets.
- https://docs.python.org/3/tutorial/datastructures.html

In [92]:
x = [0,1,2,3,4]

In [93]:
x

[0, 1, 2, 3, 4]

In [94]:
3 in x

True

In [13]:
len(x)

5

In [14]:
x[0]

0

In [15]:
x[4]

4

In [16]:
x[:]

[0, 1, 2, 3, 4]

In [17]:
x[2:4]

[2, 3]

In [18]:
x[2:]

[2, 3, 4]

In [19]:
x[:4]

[0, 1, 2, 3]

In [20]:
x + [5,6]

[0, 1, 2, 3, 4, 5, 6]

In [21]:
y = x + x + [5,6]

In [22]:
y

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 5, 6]

In [23]:
# Functions on lists

In [38]:
x = [0, 1, 2, 3, 4]

In [39]:
x.append(5)

In [40]:
x

[0, 1, 2, 3, 4, 5]

In [41]:
x.extend([10,11])

In [42]:
x

[0, 1, 2, 3, 4, 5, 10, 11]

In [43]:
x.insert(2, 20)

In [44]:
x

[0, 1, 20, 2, 3, 4, 5, 10, 11]

In [45]:
x.remove(1) # removes only the first occurence

In [46]:
x

[0, 20, 2, 3, 4, 5, 10, 11]

In [47]:
x.pop()

11

In [48]:
x

[0, 20, 2, 3, 4, 5, 10]

In [51]:
x.pop(1)

20

In [52]:
x

[0, 4, 5, 10]

In [53]:
[1,2,3,1,2,5].count(1)

2

In [54]:
[1,2,3,1,2,5].index(2)

1

In [56]:
sorted([1,2,3,1,2,5])

[1, 1, 2, 2, 3, 5]

In [58]:
a = [1,2,3,1,2,5] 
a.sort() # in place sort
a

[1, 1, 2, 2, 3, 5]

In [61]:
a = [1,2,3,1,2,5] 
a.reverse() # in place reverse
a

[5, 2, 1, 3, 2, 1]

# Stacks
- LIFO - the last element added is the first element retrieved (“last-in, first-out”)
- list.append() : to add at the last or top.
- list.pop() : to remove from last or top.

In [62]:
stack = [3, 4, 5]

In [63]:
stack.append(6)
stack.append(7)

In [65]:
stack

[3, 4, 5, 6, 7]

In [66]:
stack.pop()

7

In [68]:
stack

[3, 4, 5, 6]

In [70]:
stack[len(stack) - 1]

6

# Queues
- FIFO - where the first element added is the first element retrieved (“first-in, first-out”)
- use collections.deque which was designed to have fast appends and pops from both ends.

In [71]:
from collections import deque

In [72]:
queue = deque(["Eric", "John", "Michael"])

In [73]:
queue.append("Terry")

In [74]:
queue.append("Graham")

In [75]:
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [76]:
queue.popleft()

'Eric'

In [77]:
queue

deque(['John', 'Michael', 'Terry', 'Graham'])

# Nested Lists
- list of lists

In [80]:
temp = []
for i in range(10):
    temp.append([])

In [81]:
temp

[[], [], [], [], [], [], [], [], [], []]

In [83]:
temp = []
for i in range(10):
    temp.append([])
    for j in range(5):
        temp[i].append(j)

In [84]:
temp

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [85]:
temp[0]

[0, 1, 2, 3, 4]

In [86]:
temp[2]

[0, 1, 2, 3, 4]

In [87]:
temp[2][3]

3

# Sets
- an unordered collection with no duplicate elements.
- support mathematical operations like union, intersection, difference, and symmetric difference.

In [105]:
basket = {'apple', 'banana', 'orange', 'apple'}

In [106]:
basket

{'apple', 'banana', 'orange'}

In [107]:
'orange' in basket

True

In [108]:
'mango' in basket

False

In [109]:
basket2 = {'apple', 'banana', 'mango'}

In [114]:
basket2

{'apple', 'banana', 'mango'}

In [111]:
basket | basket2 # OR - in either

{'apple', 'banana', 'mango', 'orange'}

In [112]:
basket & basket2 # AND - in both

{'apple', 'banana'}

In [113]:
basket ^ basket2 # XOR - not in both

{'mango', 'orange'}

In [115]:
basket - basket2

{'orange'}

In [116]:
basket2 - basket

{'mango'}

# Loop Techniques

In [118]:
for i in [1,2,5,6]:
    print(i)

1
2
5
6

In [119]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [120]:
{x**2 for x in range(10)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

# Dictionaries (Hashmap)
- a set of key: value pairs
- keys are unique

In [122]:
students = {1: "Nisha", 2: "Neha", 3: "Sunil", 4: "Annu"}

In [123]:
students

{1: 'Nisha', 2: 'Neha', 3: 'Sunil', 4: 'Annu'}

In [124]:
students.keys()

dict_keys([1, 2, 3, 4])

In [125]:
students.values()

dict_values(['Nisha', 'Neha', 'Sunil', 'Annu'])

In [126]:
students[2]

'Neha'

In [127]:
3 in students

True

In [128]:
for k,v in students.items():
    print(k,v)

1 Nisha
2 Neha
3 Sunil
4 Annu

In [129]:
students[2] = 'Mohan'

In [130]:
students

{1: 'Nisha', 2: 'Mohan', 3: 'Sunil', 4: 'Annu'}

In [131]:
del students[2]

In [132]:
students

{1: 'Nisha', 3: 'Sunil', 4: 'Annu'}

# Strings
- list of characters

In [137]:
"spam eggs"

'spam eggs'

In [ ]:
'spam eggs'  # single quotes

In [ ]:
'doesn\'t'  # use \' to escape the single quote...

In [ ]:
"doesn't"  # ...or use double quotes instead

In [ ]:
'doesn"t'

In [ ]:
print("Hello World!")

In [ ]:
print("Hello \n World")

In [ ]:
print('C:\some\name')

In [ ]:
print(r'C:\some\name')

In [ ]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

# String functions 

- like list
- https://docs.python.org/3/library/stdtypes.html#string-methods

In [145]:
my_string = "Hello World!"

In [142]:
my_string

'Hello World!'

In [146]:
len(my_string)

12

In [147]:
my_string[0]

'H'

In [148]:
my_string[len(my_string) - 1]

'!'

In [149]:
my_string[2:]

'llo World!'

In [151]:
my_string[:7]

'Hello W'

In [153]:
my_string + "Good Morning."

'Hello World!Good Morning.'

In [154]:
for x in my_string:
    print(x)

H
e
l
l
o

W
o
r
l
d
!

In [157]:
'l' in my_string

True

In [158]:
my_string.lower()

'hello world!'

In [160]:
my_string.upper()

'HELLO WORLD!'

In [161]:
my_string.capitalize()

'Hello world!'

In [165]:
my_string

'Hello World!'

In [168]:
my_string.find("l")

2

In [169]:
my_string.rfind("l")

9

# Date & Time

In [170]:
from datetime import date

In [171]:
now = date.today()

In [172]:
now

datetime.date(2022, 3, 1)

In [173]:
now.strftime("%m-%d-%y. %d %b %Y is a %A on the %d day of %B.")

'03-01-22. 01 Mar 2022 is a Tuesday on the 01 day of March.'

In [174]:
birthday = date(1964, 7, 31)

In [175]:
age = now - birthday

In [176]:
age.days

21032

AttributeError: 'datetime.timedelta' object has no attribute 'month'