In [ ]:
# Class

In [12]:
class Employee: # define class
   empCount = 0 # class variable

   def __init__(self, name, salary): # constructor
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee: {}".format(Employee.empCount))

   def displayEmployee(self): # class method
      print("Name {}: , Salary: {}".format(self.name, self.salary))

In [13]:
emp1 = Employee("Zara", 2000)

In [14]:
emp1.displayEmployee()

Name Zara: , Salary: 2000

In [15]:
emp1.displayCount()

Total Employee: 1

In [16]:
emp2 = Employee("Manni", 5000)

In [17]:
emp2.displayEmployee()

Name Manni: , Salary: 5000

In [18]:
emp1.displayCount()

Total Employee: 2

In [19]:
emp2.displayCount()

Total Employee: 2

# Error handling

In [20]:
a = 10
b = 0

In [21]:
a/b

ZeroDivisionError: division by zero

In [24]:
try:
    a/b
except Exception as e:
    print("Exception caught: ", e)

Error is:  division by zero

In [28]:
try:
    a/b
except ZeroDivisionError as e:
    print("ZeroDivisionError caught: ", e)

ZeroDivisionError caught:  division by zero

In [33]:
try:
    dummy = [1]
    dummy[10]
except ZeroDivisionError as e:
    print("ZeroDivisionError caught: ", e)
except Exception as e:
    print("Exception caught: ", e)

Exception caught:  list index out of range

In [34]:
import argparse